<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BionicBiome"
        android:usesCleartextTraffic="false">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7858482153655813~2123235765" />

        <!-- Remove unwanted provider and metadata -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.pollitoproductions.bionicbiome.androidx-startup"
            tools:node="remove" />

        <!-- Remove unwanted permissions -->
        <uses-permission
            android:name="com.pollitoproductions.bionicbiome.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
            tools:node="remove" />
        <permission
            android:name="com.pollitoproductions.bionicbiome.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
            tools:node="remove" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
