<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pollitoproductions.bionicbiome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Bionic Biome"
        android:icon="@mipmap/ic_launcher">

        <!-- AdMob App ID (provided) -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7858482153655813~2123235765" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
